# EditorConfig helps maintain consistent coding styles across various editors and IDEs
# Learn more at https://editorconfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Kotlin files
[*.{kt,kts}]
ktlint_code_style = official
ktlint_disabled_rules = import-ordering,no-wildcard-imports

# XML files
[*.xml]
indent_size = 4
max_line_length = off

# JSON files
[*.json]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Gradle files
[*.gradle]
indent_size = 4

# Java files
[*.java]
indent_size = 4 